[data-icon] {
  font-size: 22px;
  position: relative;
  top: 14px;
}
[data-icon="info-circle"] {
  color: #0080ff;
}

.table td {
  padding: 0 10px;
}

.table th {
  padding: 10px 18px;
}



.table td div {
  box-sizing: content-box;
  padding: .75rem 10px;
}

.fade-enter div {
  opacity: .5;
  overflow-y: hidden;
  max-height: 0;
}


.fade-enter-active div {
  opacity: 1;
  max-height: 100px;
  transition: all 1s ease-in;
}


header .btn {
  font-size: 22px;
  font-weight: bold;
  border-radius: 0px;
}

header {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
  background-color: #0069ff;
  display: flex;
  flex-direction: row;
}

header img {
  width: 80px;
  height: 56px;
  padding: 0 12px;
  margin: auto;
}

header div {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 0;
}
header nav {
  margin-left: auto;
  margin-right: 12px;
  /* align-self: left; */
}

header nav  .dropdown {
  display: inline-block;
  margin: 0 20px;
}

.dropdown > button {
  color: #fff;
  border: 0;
  background-color: transparent;
}

.dropdown > button:hover, .show > .btn-secondary.dropdown-toggle  {
  background-color: #fff;
  color: #0069ff;
}

nav a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  text-decoration: none;
  color: #0069ff;
  background-color: #fff;
  text-decoration: none;
}

header input {
  padding: 12px;
  border: 0;
  width: 360px;
}
header h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
header h2 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}
.container {
  margin-top: 20px;
}

aside {
  padding: 20px;
  background-color: #ddd;
}


.slide-down-enter td {
  padding: 0px 12px;
  transform: scaleY(0);
  line-height: 0;
}

.slide-down-enter-active, .slide-down-enter-done td {
  border: 1;
  transform: scaleY(0);
  transition: transform 500ms ease-in, line-height 500ms ease-in, padding 500ms ease-in;
  position: relative;
}

.slide-down-enter-done td {
  padding: 12px 12px;
  transform: scaleY(1);
  font-size: inherit;
  line-height: inherit;
  transition: transform 500ms ease-in, line-height 500ms ease-in, padding 500ms ease-in;
}
